<div class="container">
  <div class="row">
    <p class="navclear"></p>
  </div>
</div>

<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h1 class="text-center">Welcome to <%= @student.nickname %>'s Page!</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-4">
      <a href="/students/<%= @student.id %>/edit">
        <div style="background-image: url('<%= @student.photo_link %>');" class="student-card"></div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-8">

        <div class="row">
          
          <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-0">
            <div class="row row-content">
              <div class="col-xs-12">
                <h2><%= @student.first_name %></h2>
                <h3><%= @student.last_name%></h3>
              </div>
            </div>
          </div>
          
          <div class="col-xs-4 col-sm-4 col-sm-offset-4 col-md-offset-2">
            <h3 class="text-right"><%= @student.major %></h3>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-0">
            <table class="table table-hover">
              <thead>
                <th>topic</th>
                <th>due date</th>
                <th class="text-right">status</th>
              </thead>
              <tbody>
                <!--FIXME: Later add a method to set the class to "danger" for the tr elements when a presentation is late -->
                <tr>
                  <td>Introduction Presentation</td>
                  <td>08/20/2017</td>
                  <!-- FIXME: Change the href to direct to the presentation/introduction/edit route; make hidden element to set type; check type -->
                  <td class="text-right"><a class="btn btn-primary" href="<%= (@introduction.nil?) ? "/presentations/introduction/new" : "/presentations/introduction/edit" %>"><%= @student.presentation_message(@introduction) %></a></td>
                </tr>
              </tbody>
              <tbody>
                <!--FIXME: Later add a method to set the class to "danger" for the tr elements when a presentation is late -->
                <tr class="">
                  <td>Presentation Assignment</td>
                  <!-- FIXME: Later connect deadline from selected topic to this td element -->
                  <td>10/10/2017</td>
                  <!-- FIXME: Change the href to direct to the presentation/assignment/edit route; make hidden element to set type; check type -->
                  <td class="text-right"><a class="btn btn-primary" href="<%= (@introduction.nil?) ? "/presentations/assignment/new" : "/presentations/assignment/edit" %>"><%= @student.presentation_message(@presentation) %></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      
        <div class="row">
          <div class="col-xs-10 col-xs-offset-2 col-sm-12 col-sm-offset-0">
            <!-- <h3>Home Country: <%# @student.country %></h3> -->
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-10 col-xs-offset-2 col-sm-12 col-sm-offset-0">
            <!-- <h3>Major and stuff</h3> -->
          </div>
        </div>

    </div>
  </div>

  <% unless @introduction.nil? %>
    <div class="container">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-5 text-center">
          <h1>Student Introduction Video</h1>
        </div>
      
        <div class="col-xs-12 col-sm-5 text-center">
          <p style="padding: 10px;"></p>
          <!-- FIXME: There is a small bug for width in sm view  -->
          <iframe width="534" height="300"src="<%= @introduction.youtube_embedded_link %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <% end %>

  <% unless @presentation.nil? %>
    <div class="container">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-5 text-center">
          <h1>Student Presentation Video</h1>
        </div>

        <div class="col-xs-12 col-sm-5 text-center">
          <p style="padding: 10px;"></p>
          <!-- FIXME: There is a small bug for width in sm view  -->
          <iframe width="534" height="300"src="<%= @presentation.youtube_embedded_link %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>
